<%= form_with(model: branch) do |form| %>
  <% if branch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :telephone, style: "display: block" %>
    <%= form.text_field :telephone %>
  </div>

  <div>
    <%= form.label :schedules, style: "display: block" %>
    <% for schedule in Schedule.all %>
      <%= check_box_tag "branch[schedule_ids][]", schedule.id, @branch.schedules.include?(schedule) %>
      Day:
      <%=h schedule.day%>
      From
      <%=h schedule.time_from.strftime "%H:%M"%>
      hs
      To
      <%=h schedule.time_to.strftime "%H:%M"%>
      hs
      <br/>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
