<p style="color: green"><%= notice %></p>

<%= render @branch %>

<div>
  <% if current_user.role == "admin" %>
    <%= link_to "Edit this branch", edit_branch_path(@branch) %> |
    <%= button_to "Destroy this branch", @branch, method: :delete %>
  <% end %>
  
  <%= link_to "Back to branches", branches_path %>
</div>
