<p style="color: green"><%= notice %></p>

<%= render @branch %>

  <strong>Branch personal: </strong>
  <ul>
    <% @branch.personal.each_with_index do |personal, index| %>
        <li><%= personal.email %></li>
    <% end %>
  </ul>

<div>
  <% if current_user.role == "admin" %>
    <%= link_to "Edit this branch", edit_branch_path(@branch) %> |
    <%= button_to "Destroy this branch", @branch, method: :delete %>
  <% end %>

  <%= link_to "Back to branches", branches_path %>
</div>
