<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="form-element">

    <div class="field">
        <%= f.label :role, style: "display: block" %>
        <%= f.select :role, get_user_roles.keys.reject{|enum| enum=="client"}.map{ |key, value| [key.humanize, key] }, {include_blank:true},{data:{action:"change->form-element#remotesubmit"}} %>
    </div>
    <%= f.button "See branches", formaction: edit_user_path, formmethod: :get, data:{ form_element_target:"submitbtn"}%>

  </div>

  <% if user.is_personal?%>
    <div>
        <%= f.label :branches, style: "display: block" %>
        <%= collection_select(:user, :branch_id, get_all_branches, :id, :name, prompt: true) %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
