<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :day, style: "display: block" %>
      <%= form.select :day, get_days.keys.map{ |key, value| [key.humanize, key] }, {include_blank:true} %>
  </div>

  <div>
    <%= form.label :time_from, style: "display: block" %>
    <%= form.time_field :time_from %>
  </div>

  <div>
    <%= form.label :time_to, style: "display: block" %>
    <%= form.time_field :time_to %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
