<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= appointment.time %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= appointment.motive %>
  </p>

  <p>
    <strong>Solved:</strong>
    <%= appointment.solved %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= appointment.comment %>
  </p>

</div>
