<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.role == "client" %>

      <div data-controller="form-element">
        <div class="field">
            <%= form.label :branches, style: "display: block" %>
            <%= form.select :branch_id, Branch.all.map{ |b| [b.name, b.id] }, {include_blank:true},{data:{action:"change->form-element#remotesubmit"}} %>
        </div>
        <%= form.button "A", formaction: new_appointment_path, formmethod: :get, data:{ form_element_target:"submitbtn"}%>
      </div>

    <%if appointment.schedules.any? %>
      <%= form.label :schedule, style: "display: block" %>
      <%= form.select :schedule, appointment.schedules.map{ |b| [b.day, b.id] } %>
    <% end %>

    <div>
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date %>
    </div>

    <div>
      <%= form.label :time, style: "display: block" %>
      <%= form.time_field :time %>
    </div>

    <div>
      <%= form.label :motive, style: "display: block" %>
      <%= form.text_field :motive %>
    </div>
  <% end %>

  <% if current_user.role == "bank_personal" %>
    <div>
      <%= form.label :comment, style: "display: block" %>
      <%= form.text_field :comment %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
