<p style="color: green"><%= notice %></p>

<div id="appointments">

  <% if current_user.role == "client" %>
    <h1>Your appointments</h1>
    <% current_user.appointments.each do |appointment| %>
      <%= render appointment %>
      <p>
        <%= link_to "Show this appointment", appointment %>
      </p>
    <% end %>
    <%= link_to "New appointment", new_appointment_path %>
  <% else %>
    <h1>Appointments</h1>
    <% @appointments.reject{|appointment| appointment.branch_id != current_user.branch_id}.each do |appointment|  %>
      <%= render appointment %>
      <p>
        <%= link_to "Show this appointment", appointment %>
      </p>
    <% end %>
  <% end %>

</div>
