<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div id="appointments">

  <% if current_user.role == "client" %>
    <% current_user.appointments.each do |appointment| %>
      <%= render appointment %>
      <p>
        <%= link_to "Show this appointment", appointment %>
      </p>
    <% end %>
  <% else %>
    <% @appointments.each do |appointment| %>
      <%= render appointment %>
      <p>
        <%= link_to "Show this appointment", appointment %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New appointment", new_appointment_path %>
