<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Branch: </strong>
    <%= (Branch.find_by id: @appointment.branch_id).name  %>
  </p>
  <p>
    <strong>Date: </strong>
    <%= @appointment.date %>
  </p>
  <p>
    <strong>Motive: </strong>
    <%= @appointment.motive %>
  </p>

  <p>
    <strong>Status: </strong>
    <% if @appointment.solved %>
      solved
    <% else %>
      unsolved
    <% end %>
  </p>

  <p>
    <strong>Comment: </strong>
    <%= @appointment.comment %>
  </p>

  <% if @appointment.solved %>
    <p>
      <strong>Personal: </strong>
      <%= @appointment.bank_personal %>
    </p>
  <% end %>
</div>

<div>
  <% if current_user.role == "client"%>
    <% if !@appointment.solved %>
      <%= link_to "Edit this appointment", edit_appointment_path(@appointment) %>
      <%= button_to "Destroy this appointment", @appointment, method: :delete %>
    <% end %>
  <% end %>

  <% if current_user.role == "admin"%>
    <%= link_to "Edit this appointment", edit_appointment_path(@appointment) %>
  <% end %>

  <% if current_user.role == "bank_personal" and @appointment.solved == false%>
    <%= link_to "Solve this appointment", edit_appointment_path(@appointment) %> |
  <% end %>

  <%= link_to "Back to appointments", appointments_path %>


</div>
